.single_feature span{
    width:50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    background: #ff766b;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.single_feature span i{
    font-size: 1.5rem;
}
.choose_content h4{
    color: #fff;
    margin-bottom: 15px;
}
.single_feature h6{
    color: #F5B70A;
    margin-bottom: 0;
}
.single_feature p{
    font-size: 0.7rem;
}
.feature_icon-two{
    background: #2ACE92 !important;
}
.feature_icon-3{
    background: #F5B70A !important;
}
.feature_icon-4{
    background: #7865FF !important;
}
@media only screen and (max-width:992px){
    .choose_content h2{
        font-size: 1.5rem;

    }
    .choose_content p{
        font-size: 0.8rem;
    }
    .choose_content h4{
        font-style: 1rem;
    }
    .single_feature h6{
        font-size: 0.8rem;
    }
    .single_feature p{
        font-size: 0.6rem;
    }
}